ADFData/pipeline/prodPipeline.json
{
	"name": "prodPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_To_DataLake_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					},
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-92.eastus.logic.azure.com:443/workflows/32ed072d7cb64f4295956f78be4ce71e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=21iL12BoULgvV4V3b1gbG1wpumDXM43rvOqmuERHWZc",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\" ,\n    \"run_id\": \"@{pipeline().RunId}\" ,\n    \"status\": \"@{activity('ExecuteIncremental').Status}\" ,\n    \"error_msg\": \"@{if(equals(activity('ExecuteIncremental').Status,'Failed') , string(activity('ExecuteIncremental').error.message),'No error' )}\"\n  }\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-27T04:35:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}